@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
}

div::-webkit-scrollbar {
  display: inline;
  padding: 10px;
}

div::-webkit-scrollbar-track {
  background: rgba(243, 244, 246, 0.309);
  border-radius: 40px;
}
